* {
box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-image:
    url(img/background.jpg);
    font-family: Ubuntu;

}

nav {
    background-color: Goldenrod;
    text-align: center;
    padding: 5px;
    border-radius: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    
}


h1 {
    text-align: center;
    font-family: Ubuntu;
    padding: 5px;
    font-size: 24pt;
    
}

.BigImage {
    margin-top: -550px;
    margin-left: -600px;
}


h2 {
    text-align: center;
}






    
    
    

.SiteMenu {

    
    margin-top: 80px;
    padding-left: 10px;
    display: block;
    margin-left: 20px;
    font-size: 20pt;
    position: relative;
    

    
    
    
    

}

sidebar {
    
    text-align: center;
    display: flex;
    justify-content: left;

    
    
    
}

.MainText {
    padding-left: 15px;

}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}



/* For larger screen sizes */
@media only screen and (min-width: 767px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (min-width: 320px) {
    body {
        max-width: 25%;
    }
}

@media screen and (min-width: 550px) {
    body {
        max-width: 50%;
    }
}

@media screen and(min-width: 768px) {
    body {
        max-width: 75%;
    }
}

@media screen and (min-width: 960px) {
    body {
        max-width: 100%;
    }
}
