* {
box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
  height: 1px;
  background: linear-gradient(to top right, #EDDE8B, #EEDF8C, #EDDF8A, #EED67E, #EECD6E, #EDCB6A, #EEC25D, #EFB547, #EFB446, #F0B243);
    font-family: Ubuntu;
}

nav {
    background-color: Goldenrod;
    text-align: center;
    padding: 5px;
    border-radius: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    
}

h1 {
    text-align: center;
    font-family: Ubuntu;
    padding: 5px;
    font-size: 24pt;
    
}

h2 {
    text-align: left;
    margin-top: -50px;
}

.MainText {
    padding-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background: linear-gradient(to bottom, #D09338, #F7A52F, #CB5F17, #731803);
    border: 4px groove black;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
    color: white;
}

li {
    border: 5px groove #FFFAFA;
}

.Logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: -0;
    right: 0;
    padding-top: 150px;
    padding-right: 80px;
}

@media screen and (max-width: 350px) {
    img {
        max-width: 150px;
        height: 50%;
        margin: auto;
        margin-top: -5px;
    }

    h1 {
        font-size: 14pt;
    }

    h2 {
        margin-top: 30px;
        font-size: 14pt;
    }
}

@media screen and (max-width: 400px) {
    img {
        max-width: 150px;
        height: 50%;
        margin: auto;
        margin-top: -5px;
    }

    h1 {
        font-size: 16pt;
    }

    h2 {
        margin-top: 30px;
        font-size: 14pt;
    }
}

@media screen and (max-width: 430px) {
    img {
        max-width: 250px;
        height: 50%;
        margin: auto;
        margin-top: -5px;
    }

    h1 {
        font-size: 16pt;
    }

    h2 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 640px) {
    img {
        max-width: 250px;
        height: 50%;
        margin: auto;
        margin-top: -5px;
    }

    h1 {
        font-size: 18pt;
    }

    h2 {
        margin-top: -30px;
    }
}

@media screen and (max-width: 768px) {
    img {
        max-width: 250px;
        height: 50%;
        margin: -65px;
        padding-left: 45px;
    }

    h1 {
        font-size: 18pt;
    }

    h2 {
        margin-top: -30px;
    }
}

@media screen and (max-width: 854px) {
    img {
        max-width: 440px;
        height: 50%;
    }

    h2 {
        margin-top: -20px;
    }
}

@media screen and (max-width: 1024px) {
        img {
            max-width: 480px;
            height: 50%;
            margin-top: -35px;
            padding-right: 20px;   
        }

        h1 {
        font-size: 18pt;
    }

    h2 {
        margin-top: -20px;
    }
}

@media screen and (max-width: 1100px) {
        img {
            max-width: 420px;
            max-height: 45%;
            margin-top: -35px;
            padding-left: 60px;
        }

        h1 {
        font-size: 18pt;
    }
}    

@media screen and (max-width: 1300px) {
        img {
            max-width: 500px;
            height: 50%;
            margin-top: -35px;
        }

        h1 {
        font-size: 18pt;
    }
}

@media screen and (max-width: 1400px) {
        img {
            max-width: 500px;
            height: 50%;
            margin-top: -35px;
        }

        h1 {
        font-size: 18pt;
    }
}

@media screen and (max-width: 1500px) {
        img {
            max-width: 500px;
            height: 50%;
            margin-top: -35px;
        }

        h1 {
        font-size: 18pt;
    }
} 
@media screen and (max-width: 1600px) {
        img {
            max-width: 500px;
            height: 50%;
            margin-top: -35px;
        }

        h1 {
        font-size: 18pt;
    }
} 
@media screen and (max-width: 1700px) {
        img {
            max-width: 500px;
            height: 50%;
            margin-top: -35px;
        }

        h1 {
        font-size: 18pt;
    }
}

@media screen and (max-width: 1800px) {
        img {
            max-width: 500px;
            height: 50%;
            margin-top: -35px;
        }
}                      

@media screen and (min-width: 1920px) {
        img {
            width: auto;
            height: auto;
            max-height: 100%;
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
           }
}

img {
    max-width: 65%;
    height: auto;
}
